mat-toolbar {
    color: #f2f4e6;
    background-color: #2c542f;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a.active-link {
    color: #2c542f;
    background-color: #f2f4e6;
}
