<mat-toolbar>
    <a mat-button routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Introduction</a>
    <a mat-button routerLink="experience" routerLinkActive="active-link">Experience</a>
    <a mat-button routerLink="education" routerLinkActive="active-link">Education</a>
    <a mat-button routerLink="skills_&_projects" routerLinkActive="active-link">Projects</a>
    <a mat-button routerLink="certifications" routerLinkActive="active-link">Certifications</a>
</mat-toolbar>
