img {
    max-width: 60%;
    max-height: 40%;
    pointer-events: none;
}
.image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-navigators {
    display: flex;
    margin: 0;
    padding: 0;
}
.navigators {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: inherit;
    cursor: pointer;
}
.count {
    font-size: smaller;
    font-weight: lighter;
}